p{
    margin: 0;
}

h1{
    text-align: center;
}

.create{
    text-align: center;
    background-color: #0a53be;
    border-radius: 15px;
    width: 15%;
    margin-inline: auto;
    height: 40px;
    padding-top: 7px;
}

.create:hover{
    color: chartreuse;
}

.nomEventModif, .nomAnimalModif{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.crud{
    padding: 5px;
    border-radius: 25px;
}