body, html {
    max-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/img/fond.jpg");
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.haut{
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;

}

.haut, .bas {
    flex: 1;
}

.imgetdesc, .description, .animaux, .reservation {
    flex: 1;
    padding: 10px;
}

.imgdesc {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imgetdesc img {
    display: block;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 100px;
}

p{
    margin-top: 10px;
    display: flex;
    color: white;
    font-size: 30px;
}

.description{
    flex-grow: 1;
}

table{
    margin-top: 100px;
}

tr{
    padding-top: 20px;
}

th, td {

    font-size: 35px;
    padding: 20px;
    text-align: left;
    color: white;
    border-top: 3px solid white;
}


.bas{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
}

.reservation{
    flex-grow: 1;
}


h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 2.5vw;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px solid white;
}

.animaux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex-grow: 1;
    overflow-y: scroll;
}


.animal {
    margin: 5px;
    width: 30%;
    text-align: center;
}

.animal img {
    width: 100%;
    height: auto;
}

button{
    display: flex;

}

img {
    border-radius: 40px;
}