body {
    background-image: linear-gradient(to right top, #fcf7a8, #e1e6c3, #cbd7b4, #b6c9a7, #a0bb9b, #87af93, #6ea28d, #559589, #33858a, #147389, #116084, #274c78);

    background-attachment: fixed;

}
p{
    color: white;
    text-stroke: 1px black;
    -webkit-text-stroke: 0.2px black;
    font-size: 24px;
}
.entity{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2%;
}

.corps-entity{
    display: flex;
    flex-direction: row;
}

.infoEntity{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    padding-left: 2%;
}

.descriptionetbouton{
    display: flex;
    flex-direction: column;
}


.titre{
    text-decoration: underline;
    font-size: 150%;
}
.nomEntity{
    font-size: 300%;
    text-align: center;
    border-bottom-style: solid;
}

.relationList{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
/*
.relation{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
*/

.relation{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.relationcontent{
    display: flex;
    flex-direction: row;

}

.entityFromRelation img{
    display: flex;
    justify-content: center;
}

img{
    padding: 0.5%;
    border-radius: 100px;
    width:45%;
}


@media (max-width: 1000px) {

    .entity {
        flex-direction: column;
    }
    .relationList {
        flex-direction: column-reverse;
    }

    .corps-entity{
        display: flex;
        flex-direction: column-reverse;
    }

    .entity > * {
        margin-top: 30px;
    }

    .relationList > * {
        margin-top: 30px;
    }

    .entityPresenter{
        margin: auto;
    }

}