p{
    text-align: left;
}

.entity{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2%;
}

.corps-entity{
    display: flex;
    flex-direction: row;
}

.infoEntity{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reservation > button{
    width: 25%;
}

.titre{
    text-decoration: underline;
    font-size: 150%;
}
.nomEntity{
    font-size: 300%;
    text-align: center;
    border-bottom-style: solid;
}

.relationList{
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-around;
}
/*
.relation{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
*/

.relation{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.relationContentFamille{
    display: flex;
    flex-direction: column;
}

.relationContentEvent, .relationContent{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entityFromRelation > a {
    max-height: 400px;
    max-width: 400px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    transition: transform .1s;
    padding: 1%;
}
a > p{
    text-align: center;
}

.entityFromRelation > a:hover{
    transform: scale(1.1);
}


img{
    padding: 0.5%;
    border-radius: 100px;
    width:45%;
}

.emplacement{
    padding-bottom: 2%;
}

@media (max-width: 1000px) {

    .entity {
        flex-direction: column;
    }

    .relationList {

    }

    .corps-entity{
        display: flex;
        flex-direction: column-reverse;
    }

    .entity > * {
        margin-top: 30px;
    }

    .relationList > * {
        margin-top: 30px;
    }

    .entityPresenter{
        margin: auto;
    }

}