* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/fond.jpg");
}

p{
    text-align: center;
}

h3{
    color: white;
}

.contenu a{
    color: white;

}

.contenu a:visited {
    color: #ff0000;
}

.contenu{
    display: flex;
    flex-direction: column;
}

#carousel-container-maison {
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}

#carousel-content-maison {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-maison {
    flex: 0 0 auto;
    width: 34%;
    box-sizing: border-box;
}

.carousel-item-maison:first-child:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#prev, #next {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 500%;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.animaux{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.animal {
    margin: 25px;
    width: 28%;
    text-align: center;
}

.animal img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}