* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    /*background-image: linear-gradient(to right top, #f6f4d2, #e1e6c3, #cbd7b4, #b6c9a7, #a0bb9b, #87af93, #6ea28d, #559589, #33858a, #147389, #116084, #274c78);*/
    background-image: url("/img/fond.jpg");
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

p{
    text-align: center;
    color: white;
    font-size: 150%;
}

h1, h2, h3, label{
    color: white;
}

h2 {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 300%;
}
h3 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 250%;
    text-align: center;
}

.contenu a{
    text-decoration: none;
}

.contenu{
    display: flex;
    flex-direction: column;
}

#carousel-container-maison {
    width: 80%;
    overflow: hidden;
    margin: 40px auto;
    position: relative;
    border-radius: 100px;
}

#carousel-content-maison {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-maison {
    flex: 0 0 auto;
    width: 34%;
    box-sizing: border-box;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

#precedent, #suivant {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 800%;
    cursor: pointer;
}

#precedent {
    left: 10px;
}

#suivant {
    right: 10px;
}

.animaux{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.animal {
    margin: 25px;
    width: 20%;
    text-align: center;
    transition: transform .1s;
}

.animal:hover{
    transform: scale(1.1);
}

.animal img {
    height: auto;
    border-radius: 50px;
}
