{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig'%}

{% block title %}Famille Create{% endblock %}

{% block body %}
    <h1>Création d'une nouvel famille</h1>
    {{ include('famille/_form.html.twig', {'form': form, 'sumbmit_label' : 'Créer'}, with_context = false) }}
{% endblock %}
