{% extends 'base.html.twig' %}

{% block title %} Famille{% endblock %}

{% block body %}
    <h1 class="text-light">Liste des familles</h1>
    {{ include('famille/_famille.html.twig') }}
{% endblock %}
