{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/update.css">
{% endblock %}

{% block body %}
    <title>Création d'un Animal</title>
    <h1>Création d'un Animal</h1>
    <div class="form">
        {{ include('animal/_form.html.twig', {'form': form, 'submit_label' : 'Créer'}, with_context = false) }}
    </div>
{% endblock %}



