{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styleShow.css">
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
    <p>L'event {{ passageEvenement.Evenement.nomEvent }}</p>
    <p>l'event commence a {{ passageEvenement.hDebEvenement }}</p>
{% endblock %}