{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}Famille update{% endblock %}

{% block body %}
    <h1> Mise a jour du passage de l'événement, {{ passageEvenement.evenement.nomEvent }}</h1>
    {{ include('passageEvenement/_form.html.twig', {'form': form, 'sumbmit_label' : 'Créer', 'update' : true}, with_context = false) }}
{% endblock %}
