{% extends 'base.html.twig' %}

{% block title %}
    Événements!
{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>
    {{ include('evenement/_evenement.html.twig') }}
{% endblock %}
