{% extends 'base.html.twig' %}

{% block title %}
    Évenements!
{% endblock %}

{% block body %}
    <h1>Liste des évenements</h1>
    {{ include('evenement/_evenement.html.twig') }}
{% endblock %}
