{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <title>Édition de {{ evenement.nomEvent }}</title>
    <h1>Édition de {{ evenement.nomEvent }}</h1>
    {{ include('evenement/_form.html.twig', {'form': form, 'submit_label' : 'Modifier'}, with_context = false) }}
{% endblock %}

