{% for enclo in enclos %}
    <div class="list-group" id="enclos">

        <a class="list-group-item list-group-item-action" href="{{ path('app_enclos_id', {id: enclos.id}) }}">{{ enclos.nomEnclos }}</a>

    </div>
{% endfor %}