{% extends 'base.html.twig' %}

{% block title %}Détails de "{{ enclos.nomEnclos }}"{% endblock %}

{% block body %}
    <div class="enclos">
        <p class="nomEnclos">{{ enclos.nomEnclos }}</p>
    </div>
{% endblock %}
